* {
  font-family: "Clash Display", sans-serif;

  color: white;
}
img {
  -webkit-filter: invert(100%);
}

 {
  position: absolute;
  z-index: 1;
}
.fish {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}

body {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
}

header {
  height: 100vh;
  position: relative;
}

.card {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
  height: auto;
  border-style: none;
}

.start-format {
  font-size: 70px;
  color: white;
}

#resources {
  color: whitesmoke;
}
