@font-face {
  font-family: myFont;
  src: url(./font/Groteskly\ Yours\ -\ Resist\ Sans\ Text\ Light.otf);
}
@font-face {
  font-family: myFont2;
  src: url(./font/DxSitrus-Expanded.otf);
}

* {
  font-family: myFont2;
  color: yellowgreen;
}

.font-3 {
  font-family: myFont;
  color: red;
  font-size: 34px;
}
.font-4 {
  font-family: myFont;
  color: yellow;
  font-size: 36px;
}

.font-3 {
  font-family: myFont;
  color: red;
  font-size: 34px;
}

.btn {
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  color: whitesmoke;
}

body {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
}

header {
  height: 100vh;
  position: relative;
}

.card {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
  height: auto;
}

.about-me {
  font-family: myFont2;
  font-size: 40px;
  color: yellowgreen;
}
