

@font-face {
  font-family: myFont;
  src: url(./font/NeueMetana-Regular.otf);
}
@font-face {
  font-family: myFont2;
  src: url(./font/DxSitrus-Expanded.otf);
}

* {
  font-family: myFont2;
  color: antiquewhite;
    color: yellowgreen;

}

.btn {
  font-weight: 400;

  font-style: normal;
  color: whitesmoke;
}

body {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
}

header {
  height: 100vh;
  position: relative;
  
}

.card {
  background: rgba(16.75000190734863, 16.75000190734863, 16.75000190734863, 1);
  height: auto;
}


.about-me{
  font-family:myFont2 ;
  font-size: 40px;
  color: yellowgreen;
}